@layer components {
  @reference "../../../App.css";
  .gradient-text {
    @apply bg-linear-to-br text-transparent bg-clip-text from-orange-400 to-amber-400;
  }
  .glass-card {
    @apply rounded-4xl bg-neutral-900 border border-neutral-800;
  }
  #hero .badge > :last-child {
    @apply text-white!;
  }
}
